<div class="other-page-breadcumb-area bg-with-ebony">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-9 col-sm-9 col-12">
                <div class="op-breadcumb">
                    <ul>
                        <li>
                            <a href="#!/home">
                                <span>
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </span>
                                {{ 'home' | translate }}
                            </a>
                        </li>
                        <li><a href="#!/events">{{ 'catchup' | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="upcoming-movie-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>{{ 'catchup' | translate }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container l_events">
        <div class="row">
            <ul>
                <li ng-repeat="event in events" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="single-top-movie" ng-click="playVideo(event)">
                        <div class="img">
                            <img src="{{event.event_thumbnail}}" alt="">
                        </div>
                        <!-- <span class="view-counter">759k Views</span> -->
                        <a class="popup-youtube">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                {{event.event_name}}
                            </h2>
                            <p class="date">{{event.start_time | date : 'yyyy-MM-dd HH:mm'}}</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- <link rel="preload" as="style" type="text/css" href="assets/css/home.css"> -->