<div class="other-page-breadcumb-area bg-with-ebony">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-9 col-sm-9 col-12">
                <div class="op-breadcumb">
                    <ul>
                        <li>
                            <a href="#!/home">
                                <span>
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </span>
                                {{ 'home' | translate }}
                            </a>
                        </li>
                        <li><a href="#!/contact">{{ 'contact_us' | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container contact"
    style="color: #fff; display: flex; flex-direction: column;justify-content: center;align-items: center;text-align: center">

    <div style="max-width: 400px">
        <img style="width: 100%" src="assets/img/02.png" alt="{{ 'contact_us' | translate }}">
    </div>
    <p>
        {{ 'help_contact' | translate }}
    </p>
    <!-- <form name="contact_form">
            <div class="two_cols">
                <div><input type="name" name="name" ng-model="contact.name" placeholder="{{ 'name' | translate }}">
                </div>
                <div><input type="email" name="email" ng-model="contact.email" placeholder="{{ 'email' | translate }}">
                </div>
            </div>
            <div><input type="text" name="subject" ng-model="contact.subject" placeholder="{{ 'subject' | translate }}">
            </div>
            <div>
                <textarea rows="5" placeholder="{{ 'message' | translate }}"></textarea>
            </div>
            <div class="btn_container">
                <button>{{ 'submit' | translate }}</button>
            </div>
        </form> -->

</div>

<link rel="stylesheet" type="text/css" href="assets/css/contact.css">