<div class="other-page-breadcumb-area bg-with-ebony">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-9 col-sm-9 col-12">
                <div class="op-breadcumb">
                    <ul>
                        <li>
                            <a href="#!/home">
                                <span>
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </span>
                                Home
                            </a>
                        </li>
                        <li><a href="#!/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container contact">
    <div>
        <h2>{{ 'contact_us' | translate }}</h2>
        <form name="contact_form">
            <div class="two_cols">
                <div><input type="name" name="name" ng-model="contact.name" placeholder="{{ 'name' | translate }}">
                </div>
                <div><input type="email" name="email" ng-model="contact.email" placeholder="{{ 'email' | translate }}">
                </div>
            </div>
            <div><input type="text" name="subject" ng-model="contact.subject" placeholder="{{ 'subject' | translate }}">
            </div>
            <div>
                <textarea rows="5" placeholder="{{ 'message' | translate }}"></textarea>
            </div>
            <div class="btn_container">
                <button>{{ 'submit' | translate }}</button>
            </div>
        </form>
    </div>
    <div>
        <!-- <h2>{{ 'office_address' | translate }}</h2> -->
        <p>
            {{ 'help_contact' | translate }}
        </p>
    </div>
    <!-- <div>
        <h1>{{ 'office_address' | translate }}</h1>
        <p>Moview Inc. 935 W. Webster Ave. New Streets Chicago, IL 60614, NY Newyork USA</p>
        <p>{{ 'mobile' | translate }}: +2346 17 38 93</p>
        <p>{{ 'fax' | translate }}: 1-714-252-0026</p>
        <p>{{ 'email_address' | translate }}: support@gmail.com</p>
    </div> -->
</div>

<link rel="stylesheet" type="text/css" href="assets/css/contact.css">