<div class="other-page-breadcumb-area bg-with-ebony">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-9 col-sm-9 col-12">
                <div class="op-breadcumb">
                    <ul>
                        <li>
                            <a href="#!/home">
                                <span>
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </span>
                                Home
                            </a>
                        </li>
                        <li><a href="#!/events">{{ 'upcoming_events' | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="upcoming-movie-area">
    <div class="container upcoming_events">
        <ul>
            <li ng-repeat="event in upcomingEventArray" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-top-movie">
                    <div class="img">
                        <a href="04_movie-details.html">
                            <img src="{{event.event_thumbnail}}" alt="">
                        </a>
                    </div>
                    <!-- <span class="view-counter">759k Views</span> -->
                    <a class="popup-youtube" ng-click="playVideo(event)">
                        <i class="far fa-play-circle"></i>
                    </a>
                    <div class="content">
                        <h2 class="name">
                            <a href="04_movie-details.html">{{event.event_name}}</a>
                        </h2>
                        <p class="date">{{event.start_time}}</p>
                        <!-- <p class="duration">02 :50 :12</p> -->
                    </div>
                </div>
            </li>
        </ul>
        <p style="display: none;" ng-init="onLoadUpcomingEvt()">
    </div>
</div>

<link rel="stylesheet" type="text/css" href="assets/css/home.css">
<link rel="stylesheet" type="text/css" href="assets/css/events.css">