<div class="other-page-breadcumb-area bg-with-ebony">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-9 col-sm-9 col-12">
				<div class="op-breadcumb">
					<ul>
						<li>
							<a href="#!/home">
								<span>
									<i class="fa fa-home" aria-hidden="true"></i>
								</span>
								Home
							</a>
						</li>
						<li><a href="#!/events">Upcoming Events</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="upcoming-movie-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Upcoming Events</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="upcoming-movie-feature">
                    <div class="umf-single single-top-movie">
                        <div class="img">
                            <a href="04_movie-details.html">
                                <img src="assets/img/home/upcoming-b-1.jpg" alt="">
                            </a>
                        </div>
                        <span class="view-counter">759k Views</span>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                <a href="04_movie-details.html">Jecu Jek English Horor Movie Lorem Ipsum is there fore always free from.</a>
                            </h2>
                            <p class="date">October 26, 2018</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                <div class="upcoming-movie-small">
                    <div class="ums-all">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="ums-single single-top-movie">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src="assets/img/home/upcoming-s-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <span class="view-counter">125k Views</span>
                                    <div class="content">
                                        <h2 class="name">
                                            <a href="04_movie-details.html">Sport Life</a>
                                        </h2>
                                        <div class="rating clearfix">
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-half"></div>
                                        </div>
                                        <p class="date">October 26, 2018</p>
                                    </div>
                                </div>
                                <div class="ums-single single-top-movie">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src="assets/img/home/upcoming-s-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <span class="view-counter">125k Views</span>
                                    <div class="content">
                                        <h2 class="name">
                                            <a href="04_movie-details.html">Love War 5</a>
                                        </h2>
                                        <div class="rating clearfix">
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-half"></div>
                                        </div>
                                        <p class="date">October 26, 2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="ums-single single-top-movie">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src="assets/img/home/upcoming-s-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <span class="view-counter">125k Views</span>
                                    <div class="content">
                                        <h2 class="name">
                                            <a href="04_movie-details.html">Fire Sermon</a>
                                        </h2>
                                        <div class="rating clearfix">
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-half"></div>
                                        </div>
                                        <p class="date">October 26, 2018</p>
                                    </div>
                                </div>
                                <div class="ums-single single-top-movie">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src="assets/img/home/upcoming-s-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <span class="view-counter">125k Views</span>
                                    <div class="content">
                                        <h2 class="name">
                                            <a href="04_movie-details.html">Fish Warehouse</a>
                                        </h2>
                                        <div class="rating clearfix">
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-half"></div>
                                        </div>
                                        <p class="date">October 26, 2018</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container upcoming_events">
    	<div class="row">
        	<ul>
        		<li>
                    <div class="single-top-movie">
                        <div class="img">
                            <a href="04_movie-details.html">
                                <img src="assets/img/home/top-movie-2.jpg" alt="">
                            </a>
                        </div>
                        <span class="view-counter">759k Views</span>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                <a href="04_movie-details.html">The Music Video</a>
                            </h2>
                            <p class="date">October 26, 2018</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>      
                </li>
        		<li>
                    <div class="single-top-movie">
                        <div class="img">
                            <a href="04_movie-details.html">
                                <img src="assets/img/home/top-movie-2.jpg" alt="">
                            </a>
                        </div>
                        <span class="view-counter">759k Views</span>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                <a href="04_movie-details.html">The Music Video</a>
                            </h2>
                            <p class="date">October 26, 2018</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>      
                </li>
                <li>
                    <div class="single-top-movie">
                        <div class="img">
                            <a href="04_movie-details.html">
                                <img src="assets/img/home/top-movie-2.jpg" alt="">
                            </a>
                        </div>
                        <span class="view-counter">759k Views</span>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                <a href="04_movie-details.html">The Music Video</a>
                            </h2>
                            <p class="date">October 26, 2018</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>      
                </li>
                <li>
                    <div class="single-top-movie">
                        <div class="img">
                            <a href="04_movie-details.html">
                                <img src="assets/img/home/top-movie-2.jpg" alt="">
                            </a>
                        </div>
                        <span class="view-counter">759k Views</span>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                <a href="04_movie-details.html">The Music Video</a>
                            </h2>
                            <p class="date">October 26, 2018</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>      
                </li>
        	</ul>
            <ul>
                <li>
                    <div class="single-top-movie">
                        <div class="img">
                            <a href="04_movie-details.html">
                                <img src="assets/img/home/top-movie-2.jpg" alt="">
                            </a>
                        </div>
                        <span class="view-counter">759k Views</span>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                <a href="04_movie-details.html">The Music Video</a>
                            </h2>
                            <p class="date">October 26, 2018</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>      
                </li>
                <li>
                    <div class="single-top-movie">
                        <div class="img">
                            <a href="04_movie-details.html">
                                <img src="assets/img/home/top-movie-2.jpg" alt="">
                            </a>
                        </div>
                        <span class="view-counter">759k Views</span>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                <a href="04_movie-details.html">The Music Video</a>
                            </h2>
                            <p class="date">October 26, 2018</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>      
                </li>
                <li>
                    <div class="single-top-movie">
                        <div class="img">
                            <a href="04_movie-details.html">
                                <img src="assets/img/home/top-movie-2.jpg" alt="">
                            </a>
                        </div>
                        <span class="view-counter">759k Views</span>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                <a href="04_movie-details.html">The Music Video</a>
                            </h2>
                            <p class="date">October 26, 2018</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>      
                </li>
                <li>
                    <div class="single-top-movie">
                        <div class="img">
                            <a href="04_movie-details.html">
                                <img src="assets/img/home/top-movie-2.jpg" alt="">
                            </a>
                        </div>
                        <span class="view-counter">759k Views</span>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                <a href="04_movie-details.html">The Music Video</a>
                            </h2>
                            <p class="date">October 26, 2018</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>      
                </li>
            </ul>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="assets/css/home.css">
<link rel="stylesheet" type="text/css" href="assets/css/events.css">