<div ng-cloak>
    <section>
        <div class="home_banner">
            <div>
                <img src="assets/img/home/slider-1.jpg" align="middle" />
            </div>
            <div class="wr_above">
                <div class="above">
                    <div class="auth-form" ng-if="!isLoggedIn">
                        <form name="login_form">
                            <h1>{{ 'login' | translate }}</h1>
                            <div class="form-group">
                                <label>{{ 'email' | translate }}</label>
                                <input type="email" class="form-control" name="name" ng-model="login.username">
                            </div>
                            <div class="form-group">
                                <label>{{ 'password' | translate }}</label>
                                <input class="form-control" type="password" name="email" ng-model="login.password">
                            </div>
                            <!-- <div ng-if="loginError">
                                    <p class="text-danger">{{loginError}}
                                    </p>
                                </div> -->
                            <div style="text-align: right; cursor: pointer;">
                                <a ng-click="resetPassClick()">
                                    {{ 'forgot_password' | translate }}?
                                </a>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary"
                                    ng-click="submitLogin()">{{ 'login' | translate }}</button>
                                <div>
                                    <span>{{ 'dont_have_acc_text' | translate }}?</span>
                                    <a class="lgbt" ng-click="signUpClick()">
                                        {{ 'create_new_one' | translate }}
                                    </a>
                                </div>
                            </div>
                            <div class="social_login_title_container"
                                style="width: 60%;border-bottom: 2px solid #fff;color:#000">
                                <div>Social Login</div>
                            </div>
                            <div class="term-home">
                                <input type="checkbox" ng-model="check.agree">
                                <span for="">I have read and agree the </span><a href="#!/terms-of-use"> Terms Of Use
                                </a>
                            </div>
                            <div class="soci">
                                <ul id="social_icons">
                                    <li ng-click="fbLogin()"><img src="assets/img/icons/fb.png"></li>
                                    <li ng-click="onSignInButtonClick()"><img src="assets/img/icons/google.png"></li>
                                    <li ng-click="loginAppleClick()"><img src="assets/img/icons/apple.png"></li>

                                </ul>
                                <!-- <a class="login-btn signin-button" id="appleid-signin" data-color="black"
                                    data-border="true" data-type="sign in"></a> -->
                            </div>
                        </form>
                    </div>
                    <div class="banner_description">
                        <h1>{{ 'live_tv' | translate }}</h1>
                        <p>{{ 'about_us_content' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="list-mv" ng-if="isLoggedIn && videoList.featuredArray.length > 0">
        <div class="movie-tab-area ">
            <div class="container">
                <div class="col-12">
                    <div class="section-title">
                        <h2>{{ 'featured' | translate }}</h2>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane show active" role="tabpanel" aria-labelledby="lmovie-tab">
                        <div ng-class="{'tab-carousel  owl-carousel':videoList.featuredArray.length > 1,
                                                'col-lg-6 col-md-6 col-sm-6':videoList.featuredArray.length == 1    
                                        }">
                            <div ng-repeat="video in videoList.featuredArray" ng-click="playVideo(video,true)">
                                <div class="single-top-movie">
                                    <div class="img">
                                        <img ng-src="{{video.event_thumbnail}}" alt="video.event_name">
                                    </div>
                                    <!-- <span class="view-counter">{{video.views}} Views</span> -->
                                    <a class="popup-youtube">
                                        <i class="far fa-play-circle"></i>
                                    </a>
                                    <div class="content">
                                        <h2 class="name">
                                            {{video.event_name}}
                                        </h2>
                                        <p class="date">{{video.start_time  | date : 'HH:mm:ss dd-MM-yyyy'}}</p>
                                        <p class="duration">02 :50 :12</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="list-mv" ng-if="isLoggedIn && videoList.upcomingArray.length > 0">
        <div class="movie-tab-area">
            <div class="container">

                <div class="col-12">
                    <div class="section-title">
                        <h2>{{ 'upcoming_events' | translate }}</h2>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane show active" role="tabpanel" aria-labelledby="lmovie-tab">
                        <div ng-class="{'tab-carousel  owl-carousel':videoList.upcomingArray.length > 1,
                                        'col-lg-6 col-md-6 col-sm-6':videoList.upcomingArray.length == 1    
                                }">
                            <div ng-repeat="video in videoList.upcomingArray" ng-click="playVideo(video,true)">
                                <div class="single-top-movie">
                                    <div class="img">
                                        <img ng-src="{{video.event_thumbnail}}" alt="video.event_name">
                                    </div>
                                    <!-- <span class="view-counter">{{video.views}} Views</span> -->
                                    <a class="popup-youtube">
                                        <i class="far fa-play-circle"></i>
                                    </a>
                                    <div class="content">
                                        <h2 class="name">
                                            {{video.event_name}}
                                        </h2>
                                        <p class="date">{{video.start_time  | date : 'HH:mm:ss dd-MM-yyyy'}}</p>
                                        <p class="duration">02 :50 :12</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="list-mv" id="live" ng-if="isLoggedIn && videoList.liveArray.length > 0">
        <div class="movie-tab-area">
            <div class="container">

                <div class="col-12">
                    <div class="section-title">
                        <h2>{{ 'live_events' | translate }}</h2>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane show active" role="tabpanel" aria-labelledby="lmovie-tab">
                        <div ng-class="{'tab-carousel  owl-carousel':videoList.liveArray.length > 1,
                                        'col-lg-6 col-md-6 col-sm-6':videoList.liveArray.length == 1    
                                }">
                            <div ng-repeat="video in videoList.liveArray">
                                <div class="single-top-movie">
                                    <div class="img">
                                        <img ng-src="{{video.event_thumbnail}}" alt="video.event_name">
                                    </div>
                                    <!-- <span class="view-counter">{{video.views}} Views</span> -->
                                    <a class="popup-youtube" href="#!/live?event_id={{video._id}}">
                                        <i class="far fa-play-circle"></i>
                                    </a>
                                    <div class="content">
                                        <h2 class="name">
                                            {{video.event_name}}
                                        </h2>
                                        <p class="date">{{video.start_time | date : 'yyyy-MM-dd HH:mm'}}</p>
                                        <p class="duration">02 :50 :12</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- <link rel="preload" as="style" type="text/css" href="assets/css/home.css"> -->