<div ng-cloak>
	<section>
		<div class="home_banner">
			<div><img src="assets/img/home/slider-1.jpg" align="middle"></div>
			<div class="banner_description">
				<h1>Live TV</h1>
				<p>Lorem Ipsum available but the majority</p>
			</div>
		</div>
	</section>
	<section id="featured">
		<div class="top-movie-area">
            <div class="container">
                <div class="top-movie-carousel owl-carousel">
                    <div class="single-top-movie" ng-click="playVideo('http://18.217.208.116:1935/DheerajTestApplication/dheerajLive/playlist.m3u8')">
                        <div class="img">
                            <a href="04_movie-details.html">
                                <img src="assets/img/home/top-movie-1.jpeg" alt="">
                            </a>
                        </div>
                        <span class="view-counter">115k Views</span>
                        <a class="popup-youtube">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                <a href="04_movie-details.html">The Earth Movie</a>
                            </h2>
                            <p class="date">October 26, 2018</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>
                    <div class="single-top-movie">
                        <div class="img">
                            <a href="04_movie-details.html">
                                <img src="assets/img/home/top-movie-2.jpeg" alt="">
                            </a>
                        </div>
                        <span class="view-counter">759k Views</span>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                <a href="04_movie-details.html">The Music Video</a>
                            </h2>
                            <p class="date">October 26, 2018</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>
                    <div class="single-top-movie">
                        <div class="img">
                            <a href="04_movie-details.html">
                                <img src="assets/img/home/top-movie-3.jpeg" alt="">
                            </a>
                        </div>
                        <span class="view-counter">426k Views</span>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                <a href="04_movie-details.html">Bokeh Movie (2017)</a>
                            </h2>
                            <p class="date">October 26, 2018</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>
                    <div class="single-top-movie">
                        <div class="img">
                            <a href="04_movie-details.html">
                                <img src="assets/img/home/top-movie-4.jpeg" alt="">
                            </a>
                        </div>
                        <span class="view-counter">263k Views</span>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                <a href="04_movie-details.html">Gitter Horror Movie</a>
                            </h2>
                            <p class="date">October 26, 2018</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>
                    <div class="single-top-movie">
                        <div class="img">
                            <a href="04_movie-details.html">
                                <img src="assets/img/home/top-movie-2.jpeg" alt="">
                            </a>
                        </div>
                        <span class="view-counter">759k Views</span>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <div class="content">
                            <h2 class="name">
                                <a href="04_movie-details.html">The Music Video</a>
                            </h2>
                            <p class="date">October 26, 2018</p>
                            <p class="duration">02 :50 :12</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
	</section>
	<section id="upcoming">
		<div class="upcoming-movie-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Upcoming Events</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <div class="upcoming-movie-feature">
                            <div class="umf-single single-top-movie">
                                <div class="img">
                                    <a href="04_movie-details.html">
                                        <img src="assets/img/home/upcoming-b-1.jpg" alt="">
                                    </a>
                                </div>
                                <span class="view-counter">759k Views</span>
                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                                    <i class="far fa-play-circle"></i>
                                </a>
                                <div class="content">
                                    <h2 class="name">
                                        <a href="04_movie-details.html">Jecu Jek English Horor Movie Lorem Ipsum is there fore always free from.</a>
                                    </h2>
                                    <p class="date">October 26, 2018</p>
                                    <p class="duration">02 :50 :12</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <div class="upcoming-movie-small ums-carousel owl-carousel">
                            <div class="ums-all">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="ums-single single-top-movie">
                                            <div class="img">
                                                <a href="04_movie-details.html">
                                                    <img src="assets/img/home/upcoming-s-1.jpg" alt="">
                                                </a>
                                            </div>
                                            <span class="view-counter">125k Views</span>
                                            <div class="content">
                                                <h2 class="name">
                                                    <a href="04_movie-details.html">Sport Life</a>
                                                </h2>
                                                <p class="date">October 26, 2018</p>
                                            </div>
                                        </div>
                                        <div class="ums-single single-top-movie">
                                            <div class="img">
                                                <a href="04_movie-details.html">
                                                    <img src="assets/img/home/upcoming-s-3.jpg" alt="">
                                                </a>
                                            </div>
                                            <span class="view-counter">125k Views</span>
                                            <div class="content">
                                                <h2 class="name">
                                                    <a href="04_movie-details.html">Love War 5</a>
                                                </h2>
                                                <p class="date">October 26, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="ums-single single-top-movie">
                                            <div class="img">
                                                <a href="04_movie-details.html">
                                                    <img src="assets/img/home/upcoming-s-2.jpg" alt="">
                                                </a>
                                            </div>
                                            <span class="view-counter">125k Views</span>
                                            <div class="content">
                                                <h2 class="name">
                                                    <a href="04_movie-details.html">Fire Sermon</a>
                                                </h2>
                                                <p class="date">October 26, 2018</p>
                                            </div>
                                        </div>
                                        <div class="ums-single single-top-movie">
                                            <div class="img">
                                                <a href="04_movie-details.html">
                                                    <img src="assets/img/home/upcoming-s-4.jpg" alt="">
                                                </a>
                                            </div>
                                            <span class="view-counter">125k Views</span>
                                            <div class="content">
                                                <h2 class="name">
                                                    <a href="04_movie-details.html">Fish Warehouse</a>
                                                </h2>
                                                <p class="date">October 26, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ums-all">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="ums-single single-top-movie">
                                            <div class="img">
                                                <a href="04_movie-details.html">
                                                    <img src="assets/img/home/upcoming-s-1.jpg" alt="">
                                                </a>
                                            </div>
                                            <span class="view-counter">125k Views</span>
                                            <div class="content">
                                                <h2 class="name">
                                                    <a href="04_movie-details.html">Sport Life</a>
                                                </h2>
                                                <p class="date">October 26, 2018</p>
                                            </div>
                                        </div>
                                        <div class="ums-single single-top-movie">
                                            <div class="img">
                                                <a href="04_movie-details.html">
                                                    <img src="assets/img/home/upcoming-s-3.jpg" alt="">
                                                </a>
                                            </div>
                                            <span class="view-counter">125k Views</span>
                                            <div class="content">
                                                <h2 class="name">
                                                    <a href="04_movie-details.html">Love War 5</a>
                                                </h2>
                                                <p class="date">October 26, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="ums-single single-top-movie">
                                            <div class="img">
                                                <a href="04_movie-details.html">
                                                    <img src="assets/img/home/upcoming-s-2.jpg" alt="">
                                                </a>
                                            </div>
                                            <span class="view-counter">125k Views</span>
                                            <div class="content">
                                                <h2 class="name">
                                                    <a href="04_movie-details.html">Fire Sermon</a>
                                                </h2>
                                                <p class="date">October 26, 2018</p>
                                            </div>
                                        </div>
                                        <div class="ums-single single-top-movie">
                                            <div class="img">
                                                <a href="04_movie-details.html">
                                                    <img src="assets/img/home/upcoming-s-4.jpg" alt="">
                                                </a>
                                            </div>
                                            <span class="view-counter">125k Views</span>
                                            <div class="content">
                                                <h2 class="name">
                                                    <a href="04_movie-details.html">Fish Warehouse</a>
                                                </h2>
                                                <p class="date">October 26, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ums-all">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="ums-single single-top-movie">
                                            <div class="img">
                                                <a href="04_movie-details.html">
                                                    <img src="assets/img/home/upcoming-s-1.jpg" alt="">
                                                </a>
                                            </div>
                                            <span class="view-counter">125k Views</span>
                                            <div class="content">
                                                <h2 class="name">
                                                    <a href="04_movie-details.html">Sport Life</a>
                                                </h2>
                                                <p class="date">October 26, 2018</p>
                                            </div>
                                        </div>
                                        <div class="ums-single single-top-movie">
                                            <div class="img">
                                                <a href="04_movie-details.html">
                                                    <img src="assets/img/home/upcoming-s-3.jpg" alt="">
                                                </a>
                                            </div>
                                            <span class="view-counter">125k Views</span>
                                            <div class="content">
                                                <h2 class="name">
                                                    <a href="04_movie-details.html">Love War 5</a>
                                                </h2>
                                                <p class="date">October 26, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="ums-single single-top-movie">
                                            <div class="img">
                                                <a href="04_movie-details.html">
                                                    <img src="assets/img/home/upcoming-s-2.jpg" alt="">
                                                </a>
                                            </div>
                                            <span class="view-counter">125k Views</span>
                                            <div class="content">
                                                <h2 class="name">
                                                    <a href="04_movie-details.html">Fire Sermon</a>
                                                </h2>
                                                <p class="date">October 26, 2018</p>
                                            </div>
                                        </div>
                                        <div class="ums-single single-top-movie">
                                            <div class="img">
                                                <a href="04_movie-details.html">
                                                    <img src="assets/img/home/upcoming-s-4.jpg" alt="">
                                                </a>
                                            </div>
                                            <span class="view-counter">125k Views</span>
                                            <div class="content">
                                                <h2 class="name">
                                                    <a href="04_movie-details.html">Fish Warehouse</a>
                                                </h2>
                                                <p class="date">October 26, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>
	<section id="catchup">
		<div class="movie-tab-area">
            <div class="container">
                <div class="row">
                    <div class="row">
	                    <div class="col-12">
	                        <div class="section-title">
	                            <h2>Catchup Videos</h2>
	                        </div>
	                    </div>
	                </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane show active" id="lmovie" role="tabpanel" aria-labelledby="lmovie-tab">
                            <div class="tab-carousel owl-carousel">
                                <div class="single-top-movie">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src="assets/img/home/top-movie-1.jpeg" alt="">
                                        </a>
                                    </div>
                                    <span class="view-counter">759k Views</span>
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                                        <i class="far fa-play-circle"></i>
                                    </a>
                                    <div class="content">
                                        <h2 class="name">
                                            <a href="04_movie-details.html">Angry Man 6o</a>
                                        </h2>
                                        <p class="date">October 26, 2018</p>
                                        <p class="duration">02 :50 :12</p>
                                    </div>
                                </div>
                                <div class="single-top-movie">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src="assets/img/home/top-movie-2.jpeg" alt="">
                                        </a>
                                    </div>
                                    <span class="view-counter">759k Views</span>
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                                        <i class="far fa-play-circle"></i>
                                    </a>
                                    <div class="content">
                                        <h2 class="name">
                                            <a href="04_movie-details.html">TDarkness World</a>
                                        </h2>
                                        <p class="date">October 26, 2018</p>
                                        <p class="duration">02 :50 :12</p>
                                    </div>
                                </div>
                                <div class="single-top-movie">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src="assets/img/home/top-movie-3.jpeg" alt="">
                                        </a>
                                    </div>
                                    <span class="view-counter">759k Views</span>
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                                        <i class="far fa-play-circle"></i>
                                    </a>
                                    <div class="content">
                                        <h2 class="name">
                                            <a href="04_movie-details.html">World War 5</a>
                                        </h2>
                                        <p class="date">October 26, 2018</p>
                                        <p class="duration">02 :50 :12</p>
                                    </div>
                                </div>
                                <div class="single-top-movie">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src="assets/img/home/top-movie-4.jpeg" alt="">
                                        </a>
                                    </div>
                                    <span class="view-counter">759k Views</span>
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                                        <i class="far fa-play-circle"></i>
                                    </a>
                                    <div class="content">
                                        <h2 class="name">
                                            <a href="04_movie-details.html">Nature Beauty 2</a>
                                        </h2>
                                        <p class="date">October 26, 2018</p>
                                        <p class="duration">02 :50 :12</p>
                                    </div>
                                </div>
                                <div class="single-top-movie">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src="assets/img/home/top-movie-1.jpeg" alt="">
                                        </a>
                                    </div>
                                    <span class="view-counter">759k Views</span>
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                                        <i class="far fa-play-circle"></i>
                                    </a>
                                    <div class="content">
                                        <h2 class="name">
                                            <a href="04_movie-details.html">Darkness World</a>
                                        </h2>
                                        <p class="date">October 26, 2018</p>
                                        <p class="duration">02 :50 :12</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>
	<section id="live">
		<div class="movie-tab-area">
            <div class="container">
                <div class="row">
                    <div class="row">
	                    <div class="col-12">
	                        <div class="section-title">
	                            <h2>Live Events</h2>
	                        </div>
	                    </div>
	                </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane show active" id="lmovie" role="tabpanel" aria-labelledby="lmovie-tab">
                            <div class="tab-carousel owl-carousel">
                                <div class="single-top-movie">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src="assets/img/home/top-movie-1.jpeg" alt="">
                                        </a>
                                    </div>
                                    <span class="view-counter">759k Views</span>
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                                        <i class="far fa-play-circle"></i>
                                    </a>
                                    <div class="content">
                                        <h2 class="name">
                                            <a href="04_movie-details.html">Angry Man 6o</a>
                                        </h2>
                                        <p class="date">October 26, 2018</p>
                                        <p class="duration">02 :50 :12</p>
                                    </div>
                                </div>
                                <div class="single-top-movie">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src="assets/img/home/top-movie-2.jpeg" alt="">
                                        </a>
                                    </div>
                                    <span class="view-counter">759k Views</span>
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                                        <i class="far fa-play-circle"></i>
                                    </a>
                                    <div class="content">
                                        <h2 class="name">
                                            <a href="04_movie-details.html">TDarkness World</a>
                                        </h2>
                                        <p class="date">October 26, 2018</p>
                                        <p class="duration">02 :50 :12</p>
                                    </div>
                                </div>
                                <div class="single-top-movie">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src="assets/img/home/top-movie-3.jpeg" alt="">
                                        </a>
                                    </div>
                                    <span class="view-counter">759k Views</span>
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                                        <i class="far fa-play-circle"></i>
                                    </a>
                                    <div class="content">
                                        <h2 class="name">
                                            <a href="04_movie-details.html">World War 5</a>
                                        </h2>
                                        <p class="date">October 26, 2018</p>
                                        <p class="duration">02 :50 :12</p>
                                    </div>
                                </div>
                                <div class="single-top-movie">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src="assets/img/home/top-movie-4.jpeg" alt="">
                                        </a>
                                    </div>
                                    <span class="view-counter">759k Views</span>
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                                        <i class="far fa-play-circle"></i>
                                    </a>
                                    <div class="content">
                                        <h2 class="name">
                                            <a href="04_movie-details.html">Nature Beauty 2</a>
                                        </h2>
                                        <p class="date">October 26, 2018</p>
                                        <p class="duration">02 :50 :12</p>
                                    </div>
                                </div>
                                <div class="single-top-movie">
                                    <div class="img">
                                        <a href="04_movie-details.html">
                                            <img src="assets/img/home/top-movie-1.jpeg" alt="">
                                        </a>
                                    </div>
                                    <span class="view-counter">759k Views</span>
                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                                        <i class="far fa-play-circle"></i>
                                    </a>
                                    <div class="content">
                                        <h2 class="name">
                                            <a href="04_movie-details.html">Darkness World</a>
                                        </h2>
                                        <p class="date">October 26, 2018</p>
                                        <p class="duration">02 :50 :12</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>
</div>

<link rel="stylesheet" type="text/css" href="assets/css/home.css">