<style>
    .scroll_wr {
        /* -webkit-overflow-scrolling: touch !important;
        overflow: auto !important; */
        width: 100%;
        height: 1900px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .scroll_wr iframe {
        width: 90%;
        height: 100%;
        border: 0;
    }
</style>
<!-- <div class="other-page-breadcumb-area bg-with-ebony">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-9 col-sm-9 col-12">
                <div class="op-breadcumb">
                    <ul>
                        <li>
                            <a href="#!/home">
                                <span>
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </span>
                                {{ 'home' | translate }}
                            </a>
                        </li>
                        <li><a href="#!/terms-of-user">{{ 'termofuse' | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="scroll_wr" ng-show="!changedLang">
    <iframe type="application/pdf"
        src="https://docs.google.com/gview?url=https://lrtv-data-bucket.s3.eu-west-2.amazonaws.com/Terms+of+USE.pdf&embedded=true">
        <p>Your browser does not support iframes.</p>
    </iframe>
</div>
<div class="scroll_wr" ng-show="changedLang">
    <iframe type="application/pdf"
        src="https://docs.google.com/gview?url=https://lrtv-data-bucket.s3.eu-west-2.amazonaws.com/Terminos_de_Uso_REV_converted.pdf&embedded=true">
        <p>Your browser does not support iframes.</p>
    </iframe>
</div>