/*signup*/
/* #signup {
    background: url('/assets/img/signup_bg.jpg') no-repeat;
} */
.modal_container .action_btns_container > div{
    width: 50%;
    float: left;
}

.modal_container .action_btns_container > div.close{
    text-align: right;
}

.close img,
.back img{ max-width: 20px; }
.modal_container form{ padding: 0 30px; margin-top: 20px;}
.modal_container form > div{ margin-top: 10px; }
.modal_container h1{ color: #000; }
.member_btn{
	background-color: #ff1744;
    width: 100%;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
}

.two_cols{ overflow: hidden; }
.two_cols > div{ width: 48%; float: left; }
.two_cols > div:last-child{ float: right; }

.btn_container{
	clear: both;
}

.btn_container button{
    border: none;
    background-color: #ff1744;
    width: auto;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}

.signup{
	text-align: center;
	width: 50%;
    margin: 0px auto;
}

.signup button{
    border: none;
    background-color: #ff1744;
    width: 50%;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}

.signup .lgbt {
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
#email_input{ text-align: center; }
#email_input input{ width: 50%; margin: auto; }
#social_icons li {
    cursor: pointer;
}
.skip-ad {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    color: #ffffff;
    padding: 5px;
    background: rgb(0, 0, 0,0.4)
}
.skip-ad:hover {
    background: rgb(0, 0, 0,0.8)
}
.play_video_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.play_video_info .it {
    padding: 5px 10px;
    flex:1;
}
.play_video_info .img_ifo{
    max-width:100px; 
    min-width: 100px;
}
.play_video_info .img_ifo .img{
    width:100%; 
}
.tt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.ud_signup {
    padding: 0;
    overflow: unset;
}
.ud_signup form {
    margin-top: unset;
    background: #fff;
    height: 100%;
    width: 60%;    
    overflow: auto;
    padding: 20px;
}
.ud_signup form .tti {
    color:#000;
}
.ud_signup form .i {
    text-align: center;
}
.s_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
}
.wr-signup .bk {
    position: absolute;
    float: right;
    color: #FF1744;
    z-index: 1000;
    left: 10px;
    bottom: 10px;
}
.wr-signup .cl{
    position: absolute;
    font-size: 25px;
    cursor: pointer;
    float: right;
    color: #fff;
    z-index: 1000;
    right: 0;
    top: 0;
    padding: 10px;

}
.wr-signup .b {
    background: #ff1744;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    margin-left: 5px;
}
.wr-signup .ref {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wr-signup .influencer-video{
    max-height: 200px;
    overflow-y: scroll;
}
.img-profile {
    width:50px;
    height: 50px;
    border-radius: 50%;
}
@media (max-width: 959px) {
    .wr-signup .s_bg {
        display: none;
    }
    .wr-signup .it {
        width: 100%;
    }
    .wr-signup .bk {   
        right: 35px;
        top: 15px;
        bottom: unset!important;
        left: unset!important;
    }
    .wr-signup .cl {   
        color: #000!important;
    }
}