.profile{
	padding: 50px 0;
	width: 50%;
	margin: auto;
}

.profile_image_container{ text-align: center; position: relative; }

.user_image{
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 2px solid #ff1744;
	border-radius: 100px;
	overflow: hidden;
}


.upload_container{ 
	position: absolute;
	top: 15px;
	right: 42%;
	background-color: #ff1744;
	padding: 5px;
	border-radius: 100px;
	width: 25px;
	height: 25px;
}

.upload_container input{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	cursor: pointer;
}

.camera_img img{ margin-top: -8px; z-index: 2; cursor: pointer; }
.details_container{ width: 80%; margin: 20px auto; }
.details_container > div{ margin-bottom: 20px; }
.details_container > div input{ padding: 10px; border-radius: 5px; background-color: #adadad; color: #fff; }
.details_container > div select{ background-color: #adadad; color: #fff; padding: 10px; border-radius: 5px; }
.details_container > div input::placeholder{ color: #fff; }
.btn_container{ text-align: center; margin-top: 30px; }
.btn_container button{
	-webkit-appearance: none;
	appearance: none;
	background-color: #ff1744;
	padding: 15px 30px;
	color: #fff;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
}