@media only screen and (min-width: 300px) and (max-width: 500px){
    .logo{
        position: relative;
        text-align: center;
        left: 0;
    }

    #main_menu{ display: none; }
    #res_menu{
        display: inline-block;
        float: left;
        padding-top: 40px;
        color: #fff;
    }
    .account{ display: inline-block; float: right; }
    .search-signup .search, .search-input-box, .search-input-box input[type="text"]{ width: 100%; min-width: auto; }
    .search-input-box input[type="text"]{ max-width: 250px; }
    .signup{ width: 100%; }
    .search-signup>div{ text-align: center; }
    .search-signup .signup{ margin: 25px 0 0 0; }
    #login.modal_container, #signup.modal_container{ min-width: 400px !important; }
}