<div>
    <div class="modal_backdrop"></div>
    <div style="bottom: auto" class="modal modal_container" style="min-width: 700px">
        <div class="action_btns_container">
            <div ng-if="member_view" class="back" ng-click="back()" style="width: 50%; float: left;"><img
                    src="assets/img/icons/back.png"></div>
            <div class="close" ng-click="close()" style="width: 50%; float: right; text-align: right;"><img
                    src="assets/img/icons/close.png"></div>
        </div>
        <div id="playerElement">
            <div class="skip-ad" ng-show="adsUrl && showSkip" ng-click="skipAd()">Skip Ad</div>
            <video class="generic-vid-player" ng-show="!adsUrl" autoplay="true" style="width: 100%;height:auto"
                preload="auto" controls controlsList="nodownload" ng-click="pauseOrPlay($event)">
                <source src="{{videoObject.videoLink}}" type="video/mp4" />
            </video>
            <video disable-Seeking class="ads-vid-player ads-player" ng-if="adsUrl" autoplay="true"
                style="width: 100%;height:auto" preload="auto" controls controlsList="nodownload"
                ng-click="pauseOrPlay($event)">
                <source src="{{adsUrl}}" type="video/mp4" />
            </video>
        </div>
        <h3 class="text-primary" style="margin-top: 5px;">{{videoObject.title}}</h3>
        <div class="tt">
            <span class="label label-info">{{videoObject.channelName ? videoObject.channelName : '-'}}</span>
            <div class="about_socials">
                <!-- <label>Share:</label> -->
                <ul class="social">
                    <li data-href="https://developers.facebook.com/docs/plugins/">
                        <a title="Share to Facebook" ng-href="{{shareLink('facebook')}}" target="_blank"
                            class="fb-xfbml-parse-ignore">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Share to Twitter" target="_blank" href="#" ng-href="{{shareLink('twitter')}}">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Share to Whatsapp" target="_blank" href="#" ng-href="{{shareLink('whatsapp')}}">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="play_video_info">
            <div class="img_ifo it">
                <img src="{{videoObject.channelAdmin.profileImage ? viewImage(videoObject.channelAdmin.profileImage) : 'assets/img/icons/camera.png'}}"
                    alt="{{videoObject.channelAdmin.fullName}}">
            </div>
            <div class="if it">
                <h5 class="text-danger">{{videoObject.channelAdmin.fullName}}</h5>
                <span style="margin-right: 5px;">{{videoObject.startTime}}</span>
                <span ng-show="videoObject.location" class="label label-primary">{{videoObject.location}}</span>
                <br>
                <span> {{videoObject.description}}
                </span>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="assets/css/modal.css">
<!-- <link rel="stylesheet" type="text/css" href="assets/css/about.css"> -->