<div class="modal_backdrop"></div>
<div id="login" class="modal_container" style="min-width: 500px;">
	<div class="action_btns_container">
		<div ng-if="member_view" class="back" ng-click="back()" style="width: 50%; float: left;"><img src="assets/img/icons/back.png"></div>
		<div class="close" ng-click="close()" style="width: 50%; float: right; text-align: right;"><img src="assets/img/icons/close.png"></div>
	</div>
	<form name="login_form">
		<h1>Log In</h1>
		<p>Lorem Ipsum dolor met</p>
		<div style="margin-top: 10px;">
			<div class="field_container">
				<label>Email</label>
				<input type="email" name="name" ng-model="login.username">
			</div>
			<div class="field_container">
				<label>Password</label>
				<input type="password" name="email" ng-model="login.password">
			</div>
		</div>
		<div style="text-align: right; cursor: pointer;" ng-click="forgotPass()">Forgot Password?</div>
		<div class="btn_container signup">
			<button ng-click="submitForm()">Log In</button>
		</div>
		<div class="social_login_title_container" style="width: 60%;">
			<div>Social Login</div>
		</div>
		<ul id="social_icons">
			<li ng-click="fbLogin()"><img src="assets/img/icons/fb.png"></li>
			<li ng-click="googleLogin()"><img src="assets/img/icons/google.png"></li>
		</ul>
	</form>
</div>

<link rel="stylesheet" type="text/css" href="assets/css/modal.css">