<div class="modal_backdrop"></div>
<div id="login" class="modal_container">
	<div class="action_btns_container">
		<div ng-if="member_view" class="back" ng-click="back()" style="width: 50%; float: left;"><img
				src="assets/img/icons/back.png"></div>
		<div class="close" ng-click="close()" style="width: 50%; float: right; text-align: right;"><img
				src="assets/img/icons/close.png"></div>
	</div>
	<form name="login_form">
		<h1>{{ 'login' | translate }}</h1>
		<div style="margin-top: 10px;">
			<div class="field_container">
				<label>{{ 'email' | translate }}</label>
				<input type="email" name="name" ng-model="login.username">
			</div>
			<div class="field_container">
				<label>{{ 'password' | translate }}</label>
				<input type="password" name="email" ng-model="login.password">
			</div>
		</div>
		<div ng-if="loginError">
			<p class="text-danger">{{loginError}}
			</p>
		</div>
		<div style="text-align: right; cursor: pointer;" ng-click="close('resetPass')">
			{{ 'forgot_password' | translate }}?</div>
		<div class="btn_container signup">
			<button ng-click="submitForm()">{{ 'login' | translate }}</button>
			<div>
				<span>{{ 'dont_have_acc_text' | translate }}?</span>
				<span class="lgbt" ng-click="close('signup')">
					{{ 'create_new_one' | translate }}
				</span>
			</div>
		</div>
		<!-- <div class="social_login_title_container" style="width: 60%;">
			<div>Social Login</div>
		</div>
		<ul id="social_icons">
			<li ng-click="fbLogin()"><img src="assets/img/icons/fb.png"></li>
			<li ng-click="googleLogin()"><img src="assets/img/icons/google.png"></li>
		</ul> -->
	</form>
</div>

<link rel="stylesheet" type="text/css" href="assets/css/modal.css">