<div class="modal_backdrop"></div>
<div class="modal_container" style="min-width: 700px">
	<div class="action_btns_container" style="margin-bottom: 10px;">
		<div ng-if="member_view" class="back" ng-click="back()" style="width: 50%; float: left;"><img
				src="assets/img/icons/back.png"></div>
		<div class="close" ng-click="close()" style="width: 50%; float: right; text-align: right;"><img
				src="assets/img/icons/close.png"></div>
	</div>
	<div>
		<!-- <div class="skip-ad" ng-show="adsUrl && showSkip" ng-click="skipAd()">Skip Ad</div> -->
		<div id="playerElement" ng-show="!adsUrl" style="width:100%; height:0; padding:0 0 56.25% 0"></div>
		<video disable-Seeking class="ads-vid-player ads-player" ng-if="adsUrl" autoplay="true"
			style="width: 100%;height:auto;" preload="auto" controls>
			<source src="{{adsUrl}}" type="video/mp4" />
		</video>
	</div>

	<div style="font-weight: bolder;margin-left: 0.2em;">
		<!-- <div>
				Title: {{videoObject.title}}
			</div>
			<div>
				Description: {{videoObject.description}}
			</div> -->


		<!-- share page -->

		<div class="about_socials">
			<label>Share:</label>
			<ul class="social">
				<li data-href="https://developers.facebook.com/docs/plugins/">
					<a ng-href="{{shareLink('facebook')}}" target="_blank" class="fb-xfbml-parse-ignore">
						<i class="fab fa-facebook-f"></i>
					</a>
				</li>
				<li>
					<a target="_blank" href="#" ng-href="{{shareLink('twitter')}}">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li>
					<a target="_blank" href="#" ng-href="{{shareLink('whatsapp')}}">
						<i class="fab fa-whatsapp"></i>
					</a>
				</li>
				<!-- <li>
					<a href="#" target="_blank">
						<i class="fab fa-youtube"></i>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<i class="fab fa-vimeo-v"></i>
					</a>
				</li> -->
			</ul>
		</div>

		<!-- ends here ~ share page -->


		<!-- details -->
		<div class="play_video_info">
			<div class="if it">
				<span><b>Title: </b></span> {{videoObject.title}} <br />
				<span><b>Description: </b></span> {{videoObject.description}} <br />
				<span><b>Channel Name: </b></span> {{videoObject.channelName}} <br />
				<span><b>Channel Admin: </b></span> {{videoObject.channelAdmin.fullName}} <br />
				<span><b>Start Time: </b></span> {{videoObject.startTime}} <br />
			</div>
			<div class="img_ifo it">
				<img src="{{videoObject.channelAdmin.profileImage ? viewImage(videoObject.channelAdmin.profileImage) : 'assets/img/icons/camera.png'}}"
					alt="{{videoObject.channelAdmin.fullName}}">
			</div>
		</div>
		<!-- ends here ~ details -->

	</div>
</div>

<link rel="stylesheet" type="text/css" href="assets/css/modal.css">
<link rel="stylesheet" type="text/css" href="assets/css/about.css">