<div class="modal_backdrop"></div>
<div id="signup" class="modal_container ud_signup" style="min-width: 850px">
	<div class="wr-signup">
		<div class="action_btns">
			<button ng-if="member_view || influencer_view" class="btn btn-sm btn-danger bk"
				ng-click="back()">Back</button>
			<div class="cl" ng-click="close()">x</div>
		</div>
		<form class="it" name="signup_form" ng-if="signup_view" ng-submit="submitForm()">
			<h2 class="tti">{{ 'sign_up' | translate }}</h2>
			<div class="ref">
				<button class="btn btn-sm b" ng-click="memberView()">{{ 'become_member_text' | translate }}</button>
				<button class="btn btn-sm b"
					ng-click="influencerView()">{{ 'become_influencer_text' | translate }}</button>
			</div>
			<div class="two_cols">
				<div>
					<div class="field_container">
						<label>{{ 'name' | translate }}</label>
						<input type="text" name="name" ng-model="signup.fullName" required>
					</div>
					<div class="field_container">
						<label>{{ 'email' | translate }}</label>
						<input type="email" name="email" ng-model="signup.email" required>
					</div>
					<div class="field_container">
						<label>{{ 'password' | translate }}</label>
						<input type="password" name="password" ng-model="signup.password" required>
					</div>
				</div>
				<div>
					<div class="field_container">
						<label>{{ 'referral_code' | translate }}</label>
						<input type="text" name="promocode" ng-model="signup.promocode">
					</div>
					<div class='field_container'>
						<label>{{ 'country' | translate }}</label>
						<input placeholder="{{ 'country' | translate }}" type="text" list="countries"
							ng-model="signup.country"/>
						<datalist id="countries">
							<option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>
						</datalist>
					</div>
				</div>
			</div>
			<div class="term">
				<input type="checkbox" name="sig" ng-model="check.agree">
				<span for="">I have read and agree the </span> <a href="#!/terms-of-use"> Terms Of Use </a>
			</div>
			<div class="sign-up-error" ng-if="signupError">
				{{signupError}}
			</div>
			<div class="btn_container signup">
				<button ng-disabled="loading" type="submit">{{ 'sign_up' | translate }}</button>
				<br>
				<div>
					<span>{{ 'already_have_account_text' | translate }}?</span>
					<span class="lgbt" ng-click="close('login')">
						{{ 'sign_in' | translate }}
					</span>
				</div>
			</div>
			<div class="i">
				<p>{{'price_month' | translate }}</p>
				<p>{{'price_year' | translate }}</p>
			</div>
		</form>
		<form class="it" name="member_form" ng-show="member_view" ng-submit="requestForm()">
			<h2 class="tti">{{ 'become_member_text' | translate }}</h2>
			<div class="two_cols">
				<div>
					<div class="field_container">
						<label>{{ 'name' | translate }}</label>
						<input type="text" name="name" ng-model="member.fullName" required>
					</div>
					<div class="field_container">
						<label>{{ 'email' | translate }}</label>
						<input type="email" name="email" ng-model="member.email" required>
					</div>
					<div class="field_container">
						<label>{{ 'contact_number' | translate }}</label>
						<input type="number" name="phoneNumber" ng-model="member.phoneNumber">
					</div>
				</div>
				<div>
					<div class="field_container">
						<label>{{ 'category' | translate }}</label>
						<select ng-model="member.channelCategory" class="capitalize">
							<option value="">{{ 'select_category' | translate }}</option>
							<option ng-repeat="category in categories" value="{{category._id}}" class="capitalize">
								{{category.name}}</option>
						</select>
					</div>
					<div class="field_container">
						<label>{{ 'channel_name' | translate }}</label>
						<input type="text" name="channelName" ng-model="member.channelName" required>
					</div>
					<div class="field_container">
						<label>{{ 'location' | translate }}</label>
						<input id="pac-input" class="demo-header-searchbox md-text" type="text"
							placeholder="Search Location">
						<div id="map"></div>
					</div>
				</div>
			</div>
			<div class="term">
				<input type="checkbox" ng-model="check.agree">
				<span for="">I have read and agree the </span><a href="#!/terms-of-use"> Terms Of Use </a>
			</div>
			<div class="btn_container signup">
				<button ng-disabled="loading" type="submit">{{ 'request' | translate }}</button>
			</div>
		</form>
		<form class="it" name="influencer_form" ng-show="influencer_view" ng-submit="requestInfluencerForm()">
			<h2 class="tti">{{ 'become_influencer_text' | translate }}</h2>
			<div class="two_cols">
				<div>
					<div class="field_container">
						<!-- <label>{{ 'name' | translate }}</label> -->
						<input type="text" name="name" placeholder="{{ 'name' | translate }}" ng-model="influencer.name"
							required>
					</div>
					<div class="field_container">
						<!-- <label>{{ 'email' | translate }}</label> -->
						<input type="email" name="email" placeholder="{{ 'email' | translate }}"
							ng-model="influencer.email" required>
					</div>
					<div class="field_container">
						<!-- <label>{{ 'contact_number' | translate }}</label> -->
						<input type="number" name="phoneNumber" placeholder="{{ 'contact_number' | translate }}"
							ng-model="influencer.phone">
					</div>
					<div class="field_container">
						<!-- <label>{{ 'cover_letter' | translate }}</label> -->
						<input type="text" name="name" placeholder="{{ 'cover_letter' | translate }}"
							ng-model="influencer.cover" required>
					</div>
					<div class="field_container">
						<label class="d-inline">{{ 'short_video' | translate }}</label>
						<input ng-show="false" type="file" accept="video/*" name="upload_video" id="shortVideo">
						<i class="fas fa-cloud-upload-alt fa-2x hand m-l-10" ng-click="onAttach()"></i>
						<br>
						<span class="text-danger" ng-show="error">{{error}}</span>
						<div ng-show="previewVideo" class="influencer-video"
							style="max-height: 180px; overflow: scroll;">
							<video style="margin-top:10px;width: 100%;height:auto" controls autoplay
								id="myVideo"></video>
						</div>
					</div>
				</div>
				<div>
					<div class="field_container">
						<input type="text" placeholder="Facebook" name="name" ng-model="influencer.facebook.link">
					</div>
					<div class="field_container">
						<input type="text" placeholder="Instagram" name="name" ng-model="influencer.instagram.link">
					</div>
					<div class="field_container">
						<input type="text" placeholder="Twitter" name="name" ng-model="influencer.twitter.link">
					</div>
					<div class="field_container">
						<input type="text" placeholder="Youtube" name="name" ng-model="influencer.youtube.link">
					</div>
					<div class="field_container">
						<label class="d-inline">Profile Pictures</label>
						<span ng-click="onUploadImage()">
							<i class="fas fa-cloud-upload-alt fa-2x hand m-l-10"></i>
						</span>
						<input ng-show="false" type="file" multiple accept="image/*" id="social_image_upload">
					</div>
					<div class="row-image">
						<span class="column-image m-r-5" ng-repeat="img in socialPreviewImages">
							<img ng-src="{{img}}" style="width: 100%;">
						</span>
					</div>
				</div>
			</div>
			<div class="term">
				<input type="checkbox" ng-model="check.agree">
				<span for="">I have read and agree the </span><a href="#!/terms-of-use"> Terms Of Use </a>
			</div>
			<div class="btn_container signup">
				<button ng-disabled="loading" type="submit">{{ 'request' | translate }}</button>
			</div>
		</form>
		<img class='s_bg' src="/assets/img/signup_bg.jpg" alt="">
	</div>
</div>
<link rel="stylesheet" type="text/css" href="assets/css/modal.css">